<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CustomizePageSelect</display-name>
  <servlet>
    <servlet-name>CustServlet</servlet-name>
    <servlet-class>CustomizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustServlet</servlet-name>
    <url-pattern>/CS</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProdServlet</servlet-name>
    <servlet-class>ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdServlet</servlet-name>
    <url-pattern>/PS</url-pattern>
  </servlet-mapping>
  
</web-app>