<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JspDemo</display-name>
  <servlet>
    <servlet-name>S</servlet-name>
    <jsp-file>/ConfigImp.jsp</jsp-file>
    <init-param>
      <param-name>dname</param-name>
      <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>S</servlet-name>
    <url-pattern>/Config</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.yash.training.controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/CS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Validate</servlet-name>
    <servlet-class>com.yash.training.controller.ValidateServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>driverName</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>URL</param-name>
      <param-value>jdbc:mysql://localhost:3306/mysql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/VS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterValidate</servlet-name>
    <servlet-class>com.yash.training.controller.RegisterValidateServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>driverName</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>URL</param-name>
      <param-value>jdbc:mysql://localhost:3306/mysql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterValidate</servlet-name>
    <url-pattern>/RVS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomizeController</servlet-name>
    <servlet-class>com.yash.training.controller.CustomizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomizeController</servlet-name>
    <url-pattern>/CSS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionController</servlet-name>
    <servlet-class>com.yash.training.controller.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionController</servlet-name>
    <url-pattern>/SS</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/ErrorPage.jsp</location>
  </error-page>
</web-app>